body{
    background-color: rgb(167, 122, 122);
}
.hero-wrapper{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    width: 100%;
}



.hero-left{
   height: 76vh;
   width: 50%;
   background-color: #fff;

}

.hero-right{
    height: 76vh;
    width: 50%;
    background-color: aqua;
}